In [ ]:
%pip install pandas

In [3]:
# uploading data 
import pandas as pd

# NYC Open Data CSV download link
url = "https://data.cityofnewyork.us/api/views/43nn-pn8j/rows.csv?accessType=DOWNLOAD"

print("Loading data... This may take a minute.")

# Read directly from the web
df = pd.read_csv(url)

print("Data loaded successfully.")
print("Shape:", df.shape)

# Preview
df.head()

Loading data... This may take a minute.
Data loaded successfully.
Shape: (296270, 27)

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location
0,50160505,STARBUCKS # 1955,Manhattan,0,JFK INTERNATIONAL AIRPORT,NaN,2299392549,NaN,01/01/1900,NaN,...,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,1.000000e+00,NaN,NaN
1,50180152,Malta Coffee,Manhattan,250,EAST 90 STREET,10128.0,9294089562,NaN,01/01/1900,NaN,...,NaN,40.780892,-73.950990,108.0,5.0,15400.0,1048898.0,1.015350e+09,MN32,POINT (-73.950989833247 40.780891880006)
2,50180331,NONG GENG JI 37 LLC,Queens,135-15,37 AVENUE,11354.0,6469441519,NaN,01/01/1900,NaN,...,NaN,40.761097,-73.832344,407.0,20.0,86900.0,4112261.0,4.049710e+09,QN22,POINT (-73.832343669087 40.76109723299)
3,50165900,AFTER 5 WINGS INC,Staten Island,39,VICTORY BOULEVARD,10301.0,7187994608,NaN,01/01/1900,NaN,...,NaN,40.637756,-74.076645,501.0,49.0,300.0,5000062.0,5.000060e+09,SI22,POINT (-74.076644770718 40.637756207995)
4,50179318,KOSHER BAY 2025 LLC,Brooklyn,2,NEPTUNE AVENUE,11235.0,3475548811,NaN,01/01/1900,NaN,...,NaN,40.583042,-73.954484,315.0,48.0,61004.0,3245439.0,3.087108e+09,BK19,POINT (-73.954483696012 40.583041776808)

## Missing Values Analysis

In [ ]:
# Display statistical summary
print("Statistical Summary:")
df.describe()

## Statistical Summary

In [ ]:
# Display data types and info
print("\nData Types and Info:")
df.info()

In [ ]:
# Display first few rows
print("First few rows:")
df.head()

## Dataset Overview

Get a quick overview of the dataset structure and first few rows.

In [ ]:
# Load the dataset
# Update the file path based on your data file format (csv, xlsx, etc.)
df = pd.read_csv('../data/healthcare/your_dataset.csv')

print("Dataset loaded successfully!")
print(f"Shape: {df.shape}")

## Data Loading

Load the healthcare dataset from the data directory.

In [ ]:
# Import Required Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

# Healthcare Dataset Initial Exploration

This notebook performs initial exploratory data analysis (EDA) on the healthcare dataset to understand its structure, contents, and basic statistics.