In [ ]:
%pip install pandas

In [4]:
# uploading data 
import pandas as pd

# NYC Open Data CSV download link
url = "https://data.cityofnewyork.us/api/views/43nn-pn8j/rows.csv?accessType=DOWNLOAD"

# Read directly from the web
df = pd.read_csv(url)

print("Shape:", df.shape)

# Preview
df.head()

Shape: (296270, 27)

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location
0,50160505,STARBUCKS # 1955,Manhattan,0,JFK INTERNATIONAL AIRPORT,NaN,2299392549,NaN,01/01/1900,NaN,...,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,1.000000e+00,NaN,NaN
1,50180152,Malta Coffee,Manhattan,250,EAST 90 STREET,10128.0,9294089562,NaN,01/01/1900,NaN,...,NaN,40.780892,-73.950990,108.0,5.0,15400.0,1048898.0,1.015350e+09,MN32,POINT (-73.950989833247 40.780891880006)
2,50180331,NONG GENG JI 37 LLC,Queens,135-15,37 AVENUE,11354.0,6469441519,NaN,01/01/1900,NaN,...,NaN,40.761097,-73.832344,407.0,20.0,86900.0,4112261.0,4.049710e+09,QN22,POINT (-73.832343669087 40.76109723299)
3,50165900,AFTER 5 WINGS INC,Staten Island,39,VICTORY BOULEVARD,10301.0,7187994608,NaN,01/01/1900,NaN,...,NaN,40.637756,-74.076645,501.0,49.0,300.0,5000062.0,5.000060e+09,SI22,POINT (-74.076644770718 40.637756207995)
4,50179318,KOSHER BAY 2025 LLC,Brooklyn,2,NEPTUNE AVENUE,11235.0,3475548811,NaN,01/01/1900,NaN,...,NaN,40.583042,-73.954484,315.0,48.0,61004.0,3245439.0,3.087108e+09,BK19,POINT (-73.954483696012 40.583041776808)

## Missing Values Analysis

In [5]:
# Display statistical summary
print("Statistical Summary:")
df.describe()

Statistical Summary:

,CAMIS,ZIPCODE,SCORE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL
count,2.962700e+05,293134.000000,279885.000000,294905.000000,294905.000000,291779.000000,291806.000000,291806.000000,2.905310e+05,2.949050e+05
mean,4.804123e+07,10706.689534,25.149272,40.296535,-73.156605,254.807930,20.550989,29886.241870,2.584650e+06,2.477503e+09
std,3.768163e+06,615.628413,18.755325,4.171505,7.572572,130.403562,15.671797,31321.374378,1.356354e+06,1.338518e+09
min,3.007544e+07,6605.000000,0.000000,0.000000,-74.249101,101.000000,1.000000,100.000000,1.000000e+06,1.000000e+00
25%,5.000350e+07,10023.000000,12.000000,40.686746,-73.988659,106.000000,4.000000,8000.000000,1.050721e+06,1.010910e+09
50%,5.009103e+07,11101.000000,21.000000,40.732844,-73.955805,302.000000,20.000000,17300.000000,3.021604e+06,3.007930e+09
75%,5.012930e+07,11232.000000,33.000000,40.761214,-73.893909,401.000000,34.000000,42600.000000,4.011497e+06,4.006290e+09
max,5.018167e+07,69361.000000,203.000000,40.912822,0.000000,595.000000,51.000000,162100.000000,5.799501e+06,5.270001e+09

## Statistical Summary

In [6]:
# Display data types and info
print("\nData Types and Info:")
df.info()

Data Types and Info:
<class 'pandas.DataFrame'>
RangeIndex: 296270 entries, 0 to 296269
Data columns (total 27 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   CAMIS                  296270 non-null  int64
 1   DBA                    296268 non-null  str
 2   BORO                   296270 non-null  str
 3   BUILDING               295289 non-null  str
 4   STREET                 296269 non-null  str
 5   ZIPCODE                293134 non-null  float64
 6   PHONE                  296261 non-null  str
 7   CUISINE DESCRIPTION    293060 non-null  str
 8   INSPECTION DATE        296270 non-null  str
 9   ACTION                 293060 non-null  str
 10  VIOLATION CODE         290768 non-null  str
 11  VIOLATION DESCRIPTION  290767 non-null  str
 12  CRITICAL FLAG          296270 non-null  str
 13  SCORE                  279885 non-null  float64
 14  GRADE                  146172 non-null  str
 15  GRADE DATE             136768 non-null  str
 16  RECORD DATE            296270 non-null  str
 17  INSPECTION TYPE        293060 non-null  str
 18  Latitude               294905 non-null  float64
 19  Longitude              294905 non-null  float64
 20  Community Board        291779 non-null  float64
 21  Council District       291806 non-null  float64
 22  Census Tract           291806 non-null  float64
 23  BIN                    290531 non-null  float64
 24  BBL                    294905 non-null  float64
 25  NTA                    291779 non-null  str
 26  Location               291779 non-null  str
dtypes: float64(9), int64(1), str(17)
memory usage: 61.0 MB

In [ ]:
# Display first few rows
print("First few rows:")
df.head()

## Dataset Overview

Get a quick overview of the dataset structure and first few rows.

In [ ]:
# Load the dataset
# Update the file path based on your data file format (csv, xlsx, etc.)
df = pd.read_csv('../data/healthcare/your_dataset.csv')

print("Dataset loaded successfully!")
print(f"Shape: {df.shape}")

## Data Loading

Load the healthcare dataset from the data directory.

In [ ]:
# Import Required Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

# Healthcare Dataset Initial Exploration

This notebook performs initial exploratory data analysis (EDA) on the healthcare dataset to understand its structure, contents, and basic statistics.